* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
    color: $color-main;
}

.wrapper {
	padding-top: 98px;
	@include big-tablets {
		padding-top: 127px;
	}
	@include tablets {
		padding-top: 111px;
	}
	@include old-small-mobile {
		padding-top: 107px;
	}
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
	@include desktop1680 {
		padding-right: 40px;
		padding-left: 40px;
	}
	@include big-mobile {
		padding-right: 30px;
		padding-left: 30px;
	}
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 1920px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1350px;
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $color-main;
    text-decoration: none;
	&.text--red {
		color:#ec0000;
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.p-title {
	font-size: 62px;
	line-height:70px;
	font-family: $font-primary;
	font-weight: 400;
	margin:30px 0;
	@include tablets {
		font-size:36px;
		line-height:44px;
		margin:25px 0;
	}
	@include small-mobile {
		font-size:30px;
		line-height:32px;
		margin:25px 0 15px;
	}
}

.s-title {
    font-size: 52px;
    font-family: $font-primary;
    font-weight: 400;
    margin: 0 0 40px 0;
    text-align: center;
    &--light {
        color: #fff;
    }
	@include tablets {
		font-size: 30px;
	}
}
.t-title {
	font-size: 38px;
	font-family: $font-primary;
	font-weight: 400;
	margin:0 0 15px 0;
}

.button {
    font-size: 13px;
    color: $color-primary;
    border: 1px solid $color-primary;
	font-family: $font-main;
    text-transform: uppercase;
    padding: 11px 38px;
    width: max-content;
	cursor:pointer;
    &--light {
        color: #fff;
        border: 1px solid #fff;
    }
    &--blue {
        color: #fff;
        border: 1px solid #1539A3;
		background-color:#1539A3;
    }
}

.personal {
    flex-direction:row;
}

.breadcrumbs {
	display:flex;
	flex-direction:row;
	margin-top:40px;
	& ul {
	}
	& li {
		display:inline-block;
		position:relative;
		padding:0 15px 0 25px;
		&:before {
			position:absolute;
			content:url(../img/breadcrumbs-arrow.svg);
			left:0;
			top:0;
			width:10px;
			height:9px;
		}
	}
	& a {
		font-size:16px;
		line-height:18px;
	}
}

.pagination {
	margin-bottom:80px;
	&-list {
		justify-content:center;
	}
	&-item{
		& a {
			display:inline-block;
			position:relative;
			margin:0 14px;
			font-size:20px;
			line-height:36px;
			color:#707070;
			&.active {
				color:#D90000;
				&:after {
					position:absolute;
					content:'';
					left:0;
					bottom:0;
					width:100%;
					height:1px;
					background-color:#D90000;
				}
			}
		}
		
	}
}

.subsection-list {
	margin-bottom:40px;
	& > ul {
		display:flex;
		flex-direction:row;
		gap:45px;
		position:relative;
	}
	& > ul > li > a {
		color:#848484;
		font-size:18px;
		line-height:24px;
		display:inline-block;
		position:relative;
		&.active {
			color:$color-main;
			&:after {
				position:absolute;
				content:'';
				left:0;
				bottom:-8px;
				width:100%;
				border-bottom:2px dashed $color-main;
			}
		}
		&.active + .aside-list__mobile {
			display:block;
		}
	}
	& .aside-list__mobile {
		display:none;
		position:absolute;
		top:100%;
		bottom:0;
		width:100%;
		height:100%;
		& .aside-list {
			padding:25px 0;
			background:#eaeaea;
			gap:15px;
			&__item {
				padding-left:40px;
				& a {
					font-size:16px;
					&.active:before {
						top:2px;
						left:-25px;
						transform:rotate(0);
					}
				}
			}
		}
	}
}

label {
	display:flex;
	& .text {
		color:inherit;
		font-family:inherit;
		font-size:inherit;
		line-height:inherit;
	}
}
input:not([type="checkbox"],[type="radio"]) {
	border: none;
	background: transparent;
	outline: none;
}
input[type="checkbox"],
input[type="radio"] {
	display:none;
}
.checkbox-style {
    position: relative;
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
	&:after {
		content: url(../img/accept.svg);
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		transform: scale(0);
		transition: .2s;
	}
	&--dark {
		width: 18px;
		height: 18px;
		background-color: #fff;
		border: 1px solid #E9E9E9;
		&:after {
			top: 0;
			left: 0;
		}
	}
	&--light {
		width: 24px;
		height: 24px;
		background-color: #fff;
		border: 1px solid #A0A0A0;
		&:after {
			top: 4px;
			left: 3px;
		}
	}
}

input:checked + .checkbox-style:after {
    transform: scale(1);
}

.basic-form {
	& label {
		background:#fff;
		border:1px solid #bdbdbd;
		padding:7px 17px;
		margin-bottom:16px;
		flex-direction:column;
		color:$color-main;
		font-family:$font-main;
		font-size:16px;
		line-height:18px;
		position:relative;
		&.basic-form__privacy,
		&.basic-form__subscribe {
			background:transparent;
			border:none;
			flex-direction:row;
			padding:0;
			& .text {
				color:#545454;
				line-height:24px;
			}
		}
		&.file-upload {
			background:url(../img/paperclip_red.svg) 0 7px no-repeat transparent;
			padding-left:40px;
			font-size:18px;
			border:none;
			& .text {
				color:#ec0000;
				line-height:26px;
			}
			& .preview {
				& .file {
					display:inline-block;
					position:relative;
					background-color:#fff;
					border:1px solid #bdbdbd;
					padding:8px 35px 8px 10px;
					margin-right:10px;
					&:after {
						content:'';
						cursor:pointer;
						position:absolute;
						right:10px;
						top:8px;
						width:16px;
						height:16px;
						background:url(../img/file_discard.svg) center center no-repeat;
					}
				}
			}
		}
		& .text {
			margin-bottom:7px;
		}
		& input:not([type="checkbox"],[type="radio"]) {
			color:$color-main;
			font-family:$font-main;
			font-size:18px;
			line-height:18px;
		}
		& input[type="file"] {
			opacity:0;
			width:0;
			height:0;
		}
		& textarea {
			border:none;
			outline:none;
			min-height:120px;
			resize:vertical;
		}
	}
	&__buttons {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		
		& label {
			border:none;
		}
		& .button {
			padding:20px 40px;
			white-space:nowrap;
			height:60px;
		}
	}
}

.accordion {
	flex-direction:column;
	margin-bottom:60px;
	&__item {
		margin-bottom:6px;
		&-title {
			font-weight:600;
			line-height:20px;
			height:74px;
			border-bottom:4px solid #1559A3;
			background:#eaeaea;
			padding:25px 100px 25px 30px;
			position:relative;
			& .arrow {
				position:absolute;
				top:16px;
				right:30px;
				width:40px;
				height:40px;
				border:1px solid #1559A3;
				background:url(../img/accordion_arrow.svg) center center no-repeat;
			}
			&.active {
				color:#fff;
				background:#1559A3;
				& .arrow {
					border-color:#fff;
					background-image:url(../img/accordion_arrow-white.svg);
				}
			}
		}
		&-text {
			padding:20px 30px 22px;
		}
	}
}
.accordion__item-title + .accordion__item-text {
	display:none;
	height:0;
}
.accordion__item-title.active + .accordion__item-text {
	display:block;
	height:auto;
}

.aside-list {
	flex-direction:column;
	gap:30px;
	&__item {
		padding-left:90px;
		& a {
			font-size:18px;
			line-height:30px;
			position:relative;
			&.active {
				color:#ec0000;
				&:before {
					content:'';
					position:absolute;
					left:-40px;
					top:4px;
					width:10px;
					height:14px;
					background:url(../img/list-arrow.png) 0 0 no-repeat;
					transform:rotate(180deg);
				}
			}
		}
	}
}

.map_placeholder { margin:40px 0 60px; }

section.grey-bg {
	background-color: $color-bg-grey;
}
