* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
    color: $color-main;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}
@media (min-width: 1920px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1502px;
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: $color-main;
    text-decoration: none;
}

.s-title {
    font-size: 52px;
    font-family: $font-primary;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
    &--light {
        color: #fff;
    }
}

.p-title {
	font-size: 62px;
	font-family: $font-primary;
	font-weight: 400;
	margin:30px 0;
}

.button {
    font-size: 13px;
    color: $color-primary;
    border: 1px solid $color-primary;
    text-transform: uppercase;
    padding: 11px 38px;
    width: max-content;
    &--light {
        color: #fff;
        border: 1px solid  #fff;
    }
}

.personal {
    display: flex;
}

.personal .basic {
    display: none;
}

.personal .checkbox-style {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #E9E9E9;
    position: relative;
    display: flex;
    flex-shrink: 0;
    margin-right: 10px;
}

.personal input.basic:checked + .checkbox-style:after {
    transform: scale(1);
}

.checkbox-style:after {
    content: url(../img/accept.svg);
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: .2s;
}

.breadcrumbs {
	display:flex;
	flex-direction:row;
	margin-top:40px;
	& ul {
	}
	& li {
		display:inline-block;
		position:relative;
		padding:0 15px 0 25px;
		&:before {
			position:absolute;
			content:url(../img/breadcrumbs-arrow.svg);
			left:0;
			top:0;
			width:10px;
			height:9px;
		}
	}
	& a {
		font-size:16px;
		line-height:18px;
	}
}

.pagination {
	margin-bottom:80px;
	&-list {
		justify-content:center;
	}
	&-item{
		& a {
			display:inline-block;
			position:relative;
			margin:0 14px;
			font-size:20px;
			line-height:36px;
			color:#707070;
			&.active {
				color:#D90000;
				&:after {
					position:absolute;
					content:'';
					left:0;
					bottom:0;
					width:100%;
					height:1px;
					background-color:#D90000;
				}
			}
		}
		
	}
}