$font-main: 'Montserrat',
sans-serif;
$color-yellow: #E2D7B9;
$color-light-grey: #AEB3BA;
$color-grey: #3A4047;
$transition: all 2s cubic-bezier(0.15, 0.64, 0.64, 0.93);
$transition-slider: all 1s linear;
$transition-speed: all 0.5s ease-in-out;
$color-blue: #131F2E;
$color-light-blue: #002366;
$color-red: #E75D65;