.gallery {
    h1 {
        @include tablets {
            margin-top: 10px;
        }
    }
    &__list {
        @include list-destroy;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include tablets {
            justify-content: flex-start;
            margin-left: -1%;
            margin-right: -1%;
        }
        @media(min-width: 1280px) {
            margin-left: -0.9%;
            margin-right: -0.9%;
        }
    }
    &__item {
        height: 172px;
        width: 100%;
        margin-bottom: 15px;
        color: #fff;
        display: flex;
        @include el-items;
        @include tablets {
            margin-bottom: 2%;
            width: 48%;
            height: 185px;
            margin-left: 1%;
            margin-right: 1%;
        }
        @include laptop {
            margin-bottom: 2.5%;
            height: 270px;
            width: 48%;
            margin-left: 1%;
            margin-right: 1%;
        }
        @media(min-width:1280px) {
            width: 31.5%;
            margin-left: 0.9%;
            margin-right: 0.9%;
        }
        @include desktop {
            height: 270px;
            width: 31.5%;
        }
    }
}