.contacts {
    &__heading {
        @include tablets {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__row {
        @include laptop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__wrapper {
        margin-bottom: 12px;
        @include tablets {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }
    &__image {
        margin: 20px 0;
        flex-shrink: 0;
        @include tablets {
            width: 50%;
            margin: 0;
            max-width: 365px;
            margin-right: 40px;
        }
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__item {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 24px;
        padding-left: 45px;
        background-position: left center;
        background-repeat: no-repeat;
        @include desktop {
            font-size: 18px;
        }
        a {
            display: inline-block;
            color: $color-grey;
        }
        &--address {
            background-size: 20px 30px;
            background-image: url(../img/icon/pin.png);
        }
        &--phones {
            background-size: 30px 30px;
            background-image: url(../img/icon/phone.svg);
        }
        &--schedule {
            background-size: 30px 30px;
            background-image: url(../img/icon/time.svg);
        }
    }
    &__title {
        line-height: 1;
        margin-bottom: 5px;
        color: $color-light-blue;
    }
    h3 {
        margin: 1em 0;
    }
    &__how-to-get {
        margin-top: 10px;
        h3 {
            margin-top: 0;
        }
        p {
            margin-bottom: 1.2em;
        }
    }
    .map {
        flex-shrink: 0;
        height: 560px;
        margin-top: 10px;
        @include laptop {
            width: 50%;
            margin-left: 40px;
        }
        @include desktop {
            margin-left: 40px;
            width: 50%;
        }
    }
    &__buttons {
        @include laptop {
            display: flex;
            justify-content: space-between;
        }
        a {
            box-sizing: border-box;
            margin: 0;
            margin-top: 20px;
            width: auto;
            padding: 20px;
            width: 100%;
            line-height: 30px;
            @include laptop {
                max-width: 32%;
                width: 100%;
            }
            @include desktop {
                max-width: 450px;
                margin-top: 60px;
            }
        }
    }
}