<footer class="footer">
    <div class="container-fluid">
        <div class="footer__socials">
            <div class="footer__socials-block">
                <span class="footer__title">Присоединяйтесь к нам:</span>
                <p class="footer__desc">Будте в курсе последних событий, пожалуйста, укажите свой E-mail и будете получать самые акутальные новостей нашей компании.</p>

            </div>
            <div class="footer__socials-block"></div>
            <div class="footer__socials-block"></div>
        </div>
        <div class="footer__nav"></div>
        <div class="footer__info"></div>
    </div>
</footer>
</body>
</html>
