.doc__list {
    @include list-destroy;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.doc__item {
    width: 100%;
    margin-bottom: 20px;

    @include tablets {
        width: 50%;
    }
}

.doc__link {
    color: $color-light-blue;
    text-decoration: underline;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    transition: $transition-speed;
    display: flex;
    align-items: center;
    position: relative;

    &:hover {
        color: $color-light-grey;
    }

    @include laptop {
        font-size: 18px;
        line-height: 30px;
    }
}

.doc__link::before {}

.doc__link--pdf::before {
    content: "";
    position: relative;
    background-image: url(../img/icon/pdf.svg);
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 18px;
    flex-shrink: 0;

    @include laptop {
        width: 58px;
        height: 58px;
    }
}

.doc__link--jpeg::before {
    content: "";
    position: relative;
    background-image: url(../img/icon/jpg.svg);
    width: 38px;
    height: 38px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 18px;
    flex-shrink: 0;

    @include laptop {
        width: 58px;
        height: 58px;
    }
}

.doc__title {
    @include h3-style;
    margin-top: 40px;
    margin-bottom: 30px;
}

.doc__list--link {
    display: block;
    margin-top: 0;
}

.doc__wrap {
    display: flex;
    flex-wrap: wrap;
}

.doc__column {
    width: 100%;

    @include tablets {
        width: 50%;
    }
}