.news__img-wrap--slider {
    position: relative;
    margin-bottom: 25px;

    @include desktop {
        margin-right: 85px;
        margin-bottom: 85px;
    }
}

.news__img-wrap--slider .swiper-slide {
    height: 100%;
}

.news__img-wrap--slider img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.news__img-wrap--slider .swiper-button-prev {
    left: -20px;

    // display: none;
    @include tablets {
        left: -20px;
    }

    @include laptop {
        left: -30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include desktop {
        left: -40px;
    }
}

.news__img-wrap--slider .swiper-container {
    height: 100%;
}

.news__img-wrap--slider .swiper-button-next {
    right: -20px;

    // display: none;
    @include tablets {
        right: -30px;
    }

    @include laptop {
        display: flex;
        align-items: center;
        justify-content: center;
        right: -30px;
    }

    @include desktop {
        right: -40px;
    }
}

.news__img-wrap--slider .swiper-button-next,
.news__img-wrap--slider .swiper-button-prev {
    color: $color-grey;
    transition: $transition-speed;
    width: 20px;

    @include tablets {
        width: 25px;
    }

    // opacity: 1;
}

.news__img-wrap--slider .swiper-button-next:hover {
    transform: translateX(5px);
}

.news__img-wrap--slider .swiper-button-prev:hover {
    transform: translateX(-5px);
}

.news__img-wrap--slider .swiper-button-next::after,
.news__img-wrap--slider .swiper-button-prev::after {
    font-size: 18px;
    font-weight: bold;

    @include tablets {
        width: 22px;
    }

    @include laptop {
        font-size: 30px;
    }

    @include desktop {
        font-size: 38px;
    }
}

.news__item--wslider .news__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.news__desc {
    font-size: 18px;
    line-height: 30px;

    @include tablets {
        font-size: 20px;
        line-height: 30px;
    }

    @include laptop {
        font-size: 24px;
        line-height: 30px;
    }
}

.news__item--wslider .news__text {
    margin-top: 5px;

    @include tablets {
        margin-top: 10px;
    }
}

.news__item--wslider .button {
    display: block;
    text-align: center;
    margin-top: 20px;

    @include tablets {
        margin-top: 30px;
        display: inline-block;
    }

    @include laptop {
        align-self: flex-start;
    }
}

.news__item--wslider .news__title {
    @include tablets {
        margin-top: 20px;
    }

    @media(min-width:1024px) {
        margin-top: 0;
    }

    @include desktop {
        margin-bottom: 10px;
    }
}

.swiper-pagination--small {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 11px;
}

.swiper-pagination--small .swiper-pagination-bullet {
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid $color-grey;
    opacity: 1;
    transition: $transition-speed;
}

.swiper-pagination--small .swiper-pagination-bullet-active {
    background: $color-grey;
}

.news__img-wrap .news__img-wrap-text {
    position: absolute;
    z-index: 1000;
    bottom: 0;
    padding: 10px 15px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.news__img-wrap .news__img-wrap-text-after {
    right: 0;
}