.swiper-centered-wrapper--ba {
    margin-top: 30px;
    @include laptop {
        margin-top: 60px;
        margin-bottom: 15px
    }
}

// .swiper-centered-wrapper--ba .news__item {
//     margin-top: 0;
// }