.breadcrumbs {
    @include list-destroy;
    display: flex;
    color: #fff;
}

.block-light .breadcrumbs {
    color: $color-grey;
}

.breadcrumbs>li {
    margin-right: 10px;
    display: none;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    // display: none;
    @include tablets {
        font-size: 18px;
        line-height: 18px;
    }
    @include laptop {
        display: flex;
    }
    & br {
        display: none;
    }
}

.breadcrumbs li:nth-last-child(2) {
    display: flex;
    color: $color-yellow;
    @include laptop {
        color: #fff;
    }
    &::after {
        display: none;
        @include laptop {
            display: block;
        }
    }
    &::before {
        content: "";
        // position: absolute;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-image: url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66654 3.23412L1.99647 5.90415C1.93471 5.96595 1.85228 6 1.76437 6C1.67647 6 1.59403 5.96595 1.53228 5.90415L1.33565 5.70756C1.2077 5.57947 1.2077 5.37127 1.33565 5.24337L3.57777 3.00124L1.33316 0.756627C1.2714 0.694823 1.2373 0.612433 1.2373 0.52458C1.2373 0.43663 1.2714 0.35424 1.33316 0.292387L1.52979 0.0958519C1.59159 0.0340476 1.67398 -9.53674e-07 1.76189 -9.53674e-07C1.84979 -9.53674e-07 1.93223 0.0340476 1.99398 0.0958519L4.66654 2.76832C4.72845 2.83032 4.76245 2.9131 4.76225 3.0011C4.76245 3.08944 4.72845 3.17217 4.66654 3.23412Z' fill='white'/%3E%3C/svg%3E");
        @include laptop {
            display: none;
        }
    }
}

.breadcrumbs li:nth-last-child(2) {
    color: $color-yellow;
    &::before {
        background-image: url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66654 3.23412L1.99647 5.90415C1.93471 5.96595 1.85228 6 1.76437 6C1.67647 6 1.59403 5.96595 1.53228 5.90415L1.33565 5.70756C1.2077 5.57947 1.2077 5.37127 1.33565 5.24337L3.57777 3.00124L1.33316 0.756627C1.2714 0.694823 1.2373 0.612433 1.2373 0.52458C1.2373 0.43663 1.2714 0.35424 1.33316 0.292387L1.52979 0.0958519C1.59159 0.0340476 1.67398 -9.53674e-07 1.76189 -9.53674e-07C1.84979 -9.53674e-07 1.93223 0.0340476 1.99398 0.0958519L4.66654 2.76832C4.72845 2.83032 4.76245 2.9131 4.76225 3.0011C4.76245 3.08944 4.72845 3.17217 4.66654 3.23412Z' fill='%23E2D7B9'/%3E%3C/svg%3E");
        transform: rotate(180deg);
    }
    @include laptop {
        color: #fff;
    }
}

.block-light .breadcrumbs li:nth-last-child(2) {
    color: $color-light-blue;
    &::before {
        background-image: url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66654 3.23412L1.99647 5.90415C1.93471 5.96595 1.85228 6 1.76437 6C1.67647 6 1.59403 5.96595 1.53228 5.90415L1.33565 5.70756C1.2077 5.57947 1.2077 5.37127 1.33565 5.24337L3.57777 3.00124L1.33316 0.756627C1.2714 0.694823 1.2373 0.612433 1.2373 0.52458C1.2373 0.43663 1.2714 0.35424 1.33316 0.292387L1.52979 0.0958519C1.59159 0.0340476 1.67398 -9.53674e-07 1.76189 -9.53674e-07C1.84979 -9.53674e-07 1.93223 0.0340476 1.99398 0.0958519L4.66654 2.76832C4.72845 2.83032 4.76245 2.9131 4.76225 3.0011C4.76245 3.08944 4.72845 3.17217 4.66654 3.23412Z' fill='%233A4047'/%3E%3C/svg%3E");
        transform: rotate(180deg);
    }
    @include laptop {
        color: $color-grey;
    }
}

.breadcrumbs>li:not(:last-child)::after {
    content: "";
    // position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background-image: url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66654 3.23412L1.99647 5.90415C1.93471 5.96595 1.85228 6 1.76437 6C1.67647 6 1.59403 5.96595 1.53228 5.90415L1.33565 5.70756C1.2077 5.57947 1.2077 5.37127 1.33565 5.24337L3.57777 3.00124L1.33316 0.756627C1.2714 0.694823 1.2373 0.612433 1.2373 0.52458C1.2373 0.43663 1.2714 0.35424 1.33316 0.292387L1.52979 0.0958519C1.59159 0.0340476 1.67398 -9.53674e-07 1.76189 -9.53674e-07C1.84979 -9.53674e-07 1.93223 0.0340476 1.99398 0.0958519L4.66654 2.76832C4.72845 2.83032 4.76245 2.9131 4.76225 3.0011C4.76245 3.08944 4.72845 3.17217 4.66654 3.23412Z' fill='white'/%3E%3C/svg%3E");
}

.block-light .breadcrumbs>li:not(:last-child)::after {
    background-image: url("data:image/svg+xml, %3Csvg width='10' height='10' viewBox='0 0 6 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.66654 3.23412L1.99647 5.90415C1.93471 5.96595 1.85228 6 1.76437 6C1.67647 6 1.59403 5.96595 1.53228 5.90415L1.33565 5.70756C1.2077 5.57947 1.2077 5.37127 1.33565 5.24337L3.57777 3.00124L1.33316 0.756627C1.2714 0.694823 1.2373 0.612433 1.2373 0.52458C1.2373 0.43663 1.2714 0.35424 1.33316 0.292387L1.52979 0.0958519C1.59159 0.0340476 1.67398 -9.53674e-07 1.76189 -9.53674e-07C1.84979 -9.53674e-07 1.93223 0.0340476 1.99398 0.0958519L4.66654 2.76832C4.72845 2.83032 4.76245 2.9131 4.76225 3.0011C4.76245 3.08944 4.72845 3.17217 4.66654 3.23412Z' fill='%233A4047'/%3E%3C/svg%3E");
}

.breadcrumbs>li>a {
    color: inherit;
    &:hover {
        opacity: 1 !important;
        color: $color-yellow;
    }
}

.breadcrumbs>li>a {
    color: inherit;
}

.block-light .breadcrumbs>li>a {
    &:hover {
        opacity: 1 !important;
        color: $color-light-grey;
    }
}

.breadcrumbs>li>span {
    color: $color-yellow;
    font-weight: 500;
}

.block-light .breadcrumbs>li>span {
    color: $color-light-blue;
}

// Блоки внутренние
.block-inner {
    @include block-inner;
}

.block-inner h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    margin-top: 20px;
    margin-bottom: 10px;
    @include tablets {
        font-size: 36px;
        line-height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    @include laptop {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @include desktop {
        font-size: 48px;
        line-height: 53px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}