.open {
    overflow: hidden;
}

.burger-nav {
    display: none;
    position: fixed;
    pointer-events: none;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: $color-blue;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    transition: .3s all ease-out;
    min-height: 605px;
    // overflow: auto;
    justify-content: center;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);

    @media(min-width: 1450px) {
        display: flex;
    }
}

.open .burger-nav {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}

.burger-nav__column {
    width: 33.333333%;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
    overflow: auto;
    box-sizing: border-box;
}

.open .burger-nav__column {
    animation: bg-move 2s ease-in-out both;
    animation-delay: 0.2s;
}

.open .burger-nav__column:nth-of-type(2) {
    animation-delay: 0.4s;
}

.open .burger-nav__column:nth-of-type(3) {
    animation-delay: 0.8s;
}

.burger-nav__column::-webkit-scrollbar {
    width: 10px;
}

.burger-nav__column::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.5);
}

.burger-nav__column::-webkit-scrollbar-thumb {
    background: $color-blue;
}

// .burger-nav__column::-webkit-scrollbar-thumb:hover {
//     color: 
// }
.burger-nav__list {
    @include list-destroy;
    display: inline-flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
}

.burger-nav__list--second {
    margin-top: 80px;
}

// .burger-nav__list:not(:last-child) {
//     margin-top: 85px;
// }
.burger-nav__item {
    // width: 33.3333%;
    margin-top: 30px;
}

.burger-nav__item--main {
    margin-top: 35px;
    pointer-events: none;
}

.burger-nav__close {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 100;
}

.burger-nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    color: #FFFFFF;
    transition: $transition-speed;

    &:hover {
        color: $color-yellow;
    }
}

.burger-nav__item--main .burger-nav__link {
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 36px;
    color: $color-yellow;
    transition: $transition-speed;

    &:hover {
        color: $color-light-grey;
    }
}

@keyframes bg-move {
    0% {
        opacity: 0;
        background-position-x: -70px;
    }

    100% {
        opacity: 1;
        background-position-x: 0px;
    }
}

// Мобильное меню
.burger-nav-mobile {
    width: 100%;
    max-width: 400px;
    display: block;
    position: fixed;
    pointer-events: none;
    top: 75px;
    left: 0;
    z-index: 1000;
    background-color: $color-light-grey;
    height: calc(100vh - 75px);
    // height: 100vh;
    // height: calc(var(--vh, 1vh) * 100);
    transition: .3s all ease-out;
    // min-height: 640px;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: center;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    padding-top: 5px;
    padding-bottom: 45px;

    @include tablets {
        top: 75px;
    }

    @include laptop {
        top: 75px;
    }

    @media(min-width: 1450px) {
        display: none;
    }
}

.open .burger-nav-mobile {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.burger-nav-mobile__list {
    // position: relative;
    @include list-destroy;
    padding-bottom: 184px;
}

.burger-nav-mobile__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height, or 111% */
    /* ублюдочно-серый */
    color: $color-grey;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    // margin-bottom: 30px;
}

.burger-nav-item__more {
    // position: relative;
}

.burger-nav-item__more>.burger-nav-mobile__link {
    position: relative;
    cursor: pointer;
}

.burger-nav-item__more>.burger-nav-mobile__link>svg {
    // content: "";
    position: absolute;
    // background-image: url(../img/icon/arrow-menu.svg);
    // width: 7px;
    // height: 12px;
    padding: 20px 0px 20px 25px;
    right: 0px;
    top: 0;
    cursor: pointer;
    // top: 50%;
    // background-repeat: no-repeat;
    // transform: translateY(-50%);
}

.burger-nav-mobile__item--back {
    position: relative;
    padding-left: 20px;
}

.burger-nav-mobile__item--back::before {
    content: "";
    position: absolute;
    background-image: url(../img/icon/arrow-menu.svg);
    width: 10px;
    height: 17px;
    background-size: 10px 17px;
    left: 0;
    top: 50%;
    background-repeat: no-repeat;
    transform: translateY(-50%) rotate(180deg);
}

.burger-nav-mobile .button {
    // width: 100%;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-search--mobile {
    position: relative;
    bottom: 0;
    background: #FFFFFF;
    opacity: 1;
    margin-bottom: 20px;
}

.burger-nav-mobile__list-level {
    position: absolute;
    @include list-destroy;
    background: $color-light-grey;
    z-index: 100;
    top: 0;
    width: calc(100vw - 60px);
    max-width: 400px - 60px;
    height: 100%;
    transform: translateX(150%);
    transition: $transition-speed;
    // display: none;
}

.burger-nav-mobile__list-level.active {
    transform: translateX(0%);
}