.header {
    background: #fff;
    padding: 25px 0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.header__inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__desc {

}

.header__logo {
    display: flex;
    align-items: center;
    &-desc {
        width: 284px;
        font-size: 14px;
        margin-left: 20px;
    }
}

.header__nav {
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-item {
        margin-right: 30px;
        &:hover a {
            color: $color-primary;
        }
    }
    &-item:first-child svg {
        margin-right: 10px;
        margin-top: 0;
    }
    &-link {
        color: $color-main;
        font-weight: 600;
        display: flex;
        align-items: center;
        transition: .3s;
        & svg {
            margin-left: 8px;
            margin-top: 2px;
        }
    }
}

.header__nav-link {
    text-decoration: none;
}

.header__delivery {
    display: flex;
    flex-direction: column;
    & span {
        font-size: 14px;
    }
    & a {
        font-weight: 600;
        font-size: 20px;
    }
}

.header__lang {
    position: relative;
    display: flex;
    align-items: center;
    & select {
        font-family: $font-main;
        border: none;
        outline: none;
        font-size: 16px;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    & svg {
        margin-left: 8px;
    }
}

.header__personal {
    display: flex;
    align-items: center;
    &-auth {
        margin-right: 25px;
    }
    &-cart {
        position: relative;
        & .counter {
            position: absolute;
            top: -6px;
            right: -6px;
            border-radius: 50%;
            background-color: $color-primary;
            width: 16px;
            height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 10px;
            font-weight: 600;
            color: #fff;
        }
    }
}
