.pagination {
    display: flex;
    @include list-destroy;
    width: 100%;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: $color-grey;
    margin-bottom: 40px;
    @include laptop {
        margin-bottom: 0;
    }
}

.block-dark .pagination {
    color: #fff;
}

.pagination li:not(.arrow) a {
    color: inherit;
    display: block;
    padding: 10px 12px;
    min-width: 40px;
    min-height: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
    border: 1px solid $color-grey;
}

.block-dark .pagination li:not(.arrow) a {
    border: 1px solid $color-yellow;
}

.pagination li:not(.arrow) .current {
    background-color: $color-yellow;
    border: 1px solid $color-yellow;
}

.pagination li:not(.arrow) a:not(.current):hover {
    color: $color-light-grey;
    border: 1px solid $color-light-grey;
}

.block-dark .pagination li:not(.arrow) .current {
    color: $color-grey;
}

.pagination .more a {
    border: none !important;
}

.pagination .arrow {
    display: flex;
    align-items: center;
    margin: 0 6px;
}

.pagination svg path {
    width: 14px;
    height: 14px;
    fill: $color-grey;
    transition: $transition-speed;
    // transition: all 0.5s ease;
}

.block-dark .pagination svg path {
    fill: $color-yellow;
}

.prev svg {
    transform: rotate(180deg);
}

.next:hover .pagination__icon,
.prev:hover .pagination__icon {
    // fill: $color-green;
}

.pagination .disabled {
    opacity: 0.5;
}

.pagination .arrow:not(.disabled):hover svg path {
    fill: $color-light-grey;
}