.tag {
    margin-top: 20px;
    position: relative;
}

.serv {
    overflow: hidden;
}

.tag__name {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 180% */
    text-align: center;
    /* ублюдочно-серый */
    color: $color-grey;
    padding: 8px 15px 8px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-yellow;

    & svg {
        width: 10px;
        height: 17px;
    }

    cursor: pointer;

    @include tablets {
        display: none;
    }
}

.tag__name .close {
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
    background: $color-yellow;
    opacity: 0;
    transition: $transition-speed;
    pointer-events: none;

    &::before {
        background-color: $color-grey;
        height: 2px;
    }

    &::after {
        background-color: $color-grey;
        height: 2px;
    }
}

.open-sub .tag__name .close {
    opacity: 1;
    pointer-events: auto;
}

.tag__item {
    overflow-x: hidden;
}

.tag__menu {
    @include list-destroy;
    // display: none;
    margin-top: 5px;
    background-color: $color-yellow;
    // padding-bottom: 35px;
    position: relative;
    // overflow-x: hidden;
    transform: translateX(-150%);
    transition: $transition-speed;
    position: absolute;
    width: 100%;
    z-index: 100;

    @include tablets {
        transform: translateY(0);
        position: relative;
        background-color: transparent;
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    @include laptop {
        margin-top: 40px;
    }
}

.open-sub .tag__menu {
    transform: translateY(0);
}

.tag__link {
    display: flex;
    justify-content: space-between;
    padding: 18px 15px 18px 25px;
    color: $color-grey;
    font-size: 16px;
    line-height: 20px;
    // position: relative;
    transition: $transition-speed;

    & svg {
        flex-shrink: 0;

        @include tablets {
            display: none;
        }
    }

    & br {
        display: none;
    }

    border-bottom: 1px solid #FFFFFF;

    @include tablets {
        font-size: 20px;
        line-height: 36px;
        border: 1px solid #FFFFFF;
        color: #FFFFFF;
        padding: 4px 10px;
        text-align: center;
        display: block;
        margin-right: 15px;
        margin-bottom: 20px;

        &:not(.current):hover {
            border: 1px solid $color-yellow;
            color: $color-yellow;
        }
    }

    &.current {
        @include tablets {
            border: 1px solid $color-yellow;
            background-color: $color-yellow;
            color: $color-grey
        }
    }
}

.tag__item--more>.tag__link {
    position: relative;
}

.tag__item--more>.tag__link>svg {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}

.block-light .tag__link:not(.current) {
    @include tablets {
        border: 1px solid $color-grey;
        color: $color-grey;

        &:hover {
            border: 1px solid $color-light-grey;
            color: $color-light-grey;
        }
    }
}

.tag__level {
    @include list-destroy;
    transform: translateX(-150%);
    transition: $transition-speed;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $color-yellow;
    overflow-y: auto;
    min-height: 100%;
    z-index: 5;

    @include tablets {
        display: none;
    }
}

.tag__level.active {
    transform: translateX(0);
}

.tag__item--back {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    & .tag__link {
        justify-content: flex-start;
        align-items: center;

        & br {
            display: none;
        }
    }

    & svg {
        transform: rotate(180deg);
        margin-right: 20px;
    }
}

.sub-tag {
    display: none;

    @include tablets {
        display: block;
    }
}

.sub-tag__menu {
    flex-wrap: wrap;
    margin-top: 5px;
    @include list-destroy;
    display: flex;
    // @include tablets {
    //     display: flex;
    // }
}

.sub-tag__link {
    font-size: 16px;
    line-height: 24px;
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid $color-yellow;
    color: $color-yellow;
    padding: 5px 10px;
    margin-bottom: 10px;

    &:not(.current):hover {
        color: $color-light-grey;
        border: 1px solid $color-light-grey;
    }

    &.current {
        border: 1px solid $color-yellow;
        background-color: $color-yellow;
        color: $color-grey
    }
}

.block-light .sub-tag__link {
    color: $color-grey;
    border: 1px solid $color-yellow;

    &:not(.current):hover {
        color: $color-light-grey;
        border: 1px solid $color-light-grey;
    }
}

.sub-tag__item:not(:last-child) {
    margin-right: 15px;
}