.frame3d {
    @include block-style2;
    & h2 {
        position: relative;
        z-index: 101;
    }
}

.frame3d iframe {
    border: none;
    @include desktop {
        height: 722px !important;
    }
    pointer-events: none;
}

// .frame3d__wrap {
// }
.frame3d__wrap:first-of-type {
    margin-bottom: 40px;
    @include tablets {
        margin-bottom: 50px;
    }
    @include desktop {
        margin-bottom: 70px;
    }
}

.map {
    display: flex;
    flex-wrap: wrap;
    background: $color-grey;
    overflow: hidden;
}

.map__column:first-child {
    display: none;
    @include laptop {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 42%;
        position: relative;
    }
    & .map__img {
        height: 55%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        // transition: all 1s cubic-bezier(0.15, 0.64, 0.64, 0.93);
        // transform: scale(1);
        cursor: pointer;
        will-change: transform;
    }
    & .map__img:last-child {
        // transform: translate( 50%, -10%);
        bottom: 0;
        right: -25%;
        // z-index: 10;
    }
    & .map__img.active {
        // z-index: 11;
        // transform: scale(1.1) translateY(22%);
        animation-name: map-active;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    & .map__img:last-child.active {
        animation-name: map-active2;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    & .map__img.unactive {
        // z-index: 11;
        // transform: scale(1.1) translateY(22%);
        animation-name: map-unactive;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    & .map__img:first-child.unactive {
        animation-name: map-unactive2;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

.map--animation1 .map__column:first-child {
    & .map__img {
        transition: transform 0.4s ease;
    }
    & .map__img.active {
        // z-index: 11;
        // transform: scale(1.1);
        animation-name: map-activeV;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    & .map__img:last-child.active {
        animation-name: map-activeV;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    & .map__img.unactive {
        // z-index: 9;
        // transform: scale(1);
        animation-name: map-unactiveV;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
}

@keyframes map-active {
    0% {
        z-index: 9;
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-10%);
        // height: 50%;
        z-index: 9;
    }
    51% {
        z-index: 11;
        // height: 50%;
        transform: translateY(-10%);
    }
    100% {
        //    height: 55%;
        z-index: 11;
        transform: translateY(0%);
    }
}

@keyframes map-active2 {
    0% {
        z-index: 9;
    }
    50% {
        transform: scale(1) translateY(10%);
        // height: 50%;
        z-index: 9;
    }
    51% {
        z-index: 11;
        // height: 50%;
        transform: scale(1) translateY(10%);
    }
    100% {
        //    height: 55%;
        z-index: 11;
        transform: scale(1) translateY(0%);
    }
}

@keyframes map-unactive {
    0% {
        z-index: 11;
        transform: scale(1) translateY(0%);
    }
    50% {
        // height: 50%;
        z-index: 11;
        transform: scale(1) translateY(10%);
    }
    51% {
        z-index: 9;
        // height: 50%;
        transform: scale(1) translateY(10%);
    }
    100% {
        // height: 55%;
        z-index: 9;
        transform: scale(1) translateY(0%);
    }
}

@keyframes map-unactive2 {
    0% {
        z-index: 11;
        transform: scale(1) translateY(0%);
    }
    50% {
        // height: 50%;
        z-index: 11;
        transform: scale(1) translateY(-10%);
    }
    51% {
        z-index: 9;
        // height: 50%;
        transform: scale(1) translateY(-10%);
    }
    100% {
        // height: 55%;
        z-index: 9;
        transform: scale(1) translateY(0%);
    }
}

@keyframes map-activeV {
    0% {
        z-index: 11;
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.1);
        z-index: 11;
    }
}

@keyframes map-unactiveV {
    0% {
        z-index: 9;
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
        z-index: 9;
    }
}

.map__column:last-child {
    @include laptop {
        width: 58%;
    }
}

.map__column {
    width: 100%;
    height: 460px;
    @include tablets {
        // height: 700px;
        height: 42vw;
        min-height: 700px;
    }
    @include laptop {
        min-height: auto;
    }
    @include desktop {
        // height: 800px;
        height: 42vw;
    }
}

.map__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map__img .contacts__data {
    position: absolute;
    background: rgba(244, 242, 244, 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: $color-grey;
    opacity: 0;
    transition: $transition-speed;
    pointer-events: none;
}

.map__img.active .contacts__data {
    opacity: 1;
    pointer-events: auto;
}

.map__img.active.first .contacts__data {
    opacity: 0;
    pointer-events: none;
}

#yandexmapa {
    width: 100%;
    height: 100%;
    background-image: url(../img/map/map.jpg);
    background-size: cover;
}