.hero {
    min-height: 700px;
    display: flex;
    &__nav {
        width: 490px;
        & ul {
            flex-direction: column;
            & li {
                border-bottom: 1px solid #BED0E2;
                height: 63px;
                display: flex;
                & a {
                    padding: 10px 0 10px 60px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    & img {
                        margin-right: 30px;
                    }
                    & span {
                        font-weight: 500;
                    }
                    @include desktop1680 {
                        padding: 10px 0 10px 40px;
                    }
                }
                & span.catalog-link {
                    color: $color-primary;
                }
            }
        }
    }
    &__banner {
        position: relative;
        display: flex;
        width: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__slide {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        &-inner {
            width: 50%;
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 0 85px;
            & .sticker {
                font-size: 14px;
                font-family: $font-primary;
                color: #fff;
                padding: 5px 21px;
                background-color: $color-primary;
                width: max-content;
                text-transform: uppercase;
                margin-bottom: 25px;
            }
            & .name {
                font-family: $font-primary;
                font-size: 68px;
                line-height: 68px;
                margin-bottom: 15px;
            }
            & .desc {
                font-family: $font-main;
                font-size: 26px;
                line-height: 36px;
                margin: 0;
                font-weight: 300;
                margin-bottom: 45px;
            }
        }
    }
    &__pagination {
        left: 85px;
        bottom: 0;
        display: flex;
        & .swiper-pagination-bullet {
            display: flex;
            text-align: left;
            width: 155px;
            height: auto;
            border-radius: 0;
            padding-bottom: 20px;
            margin-right: 125px;
            font-size: 18px;
            font-weight: 300;
            color: #fff;
            background: none;
            border-bottom: 4px solid transparent;
            opacity: 1;
            &-active {
                border-bottom: 4px solid $color-blue;
            }
        }
    }
    &__socials {
        position: absolute;
        top: 13%;
        right: 16px;
        z-index: 10;
        & ul {
            flex-direction: column;
            & li {
                margin-bottom: 10px;
            }
        }
    }

}