.hero {
    min-height: 700px;
    display: flex;
    position: relative;
    &__nav {
        width: 490px;
        & ul {
            flex-direction: column;
            & li {
                border-bottom: 1px solid #BED0E2;
                height: 63px;
                display: flex;
                transition: .3s;
                &:hover a {
                    color: $color-primary;
                }
                &:hover {
                    background-color: #fff;
                    border-bottom: 1px solid $color-primary;
                }
                & a {
                    transition: .3s;
                    padding: 10px 0 10px 60px;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    & img {
                        margin-right: 30px;
                        @include laptop1200 {
                            margin-right: 20px;
                        }
                    }
                    & span {
                        font-weight: 500;
                    }
                    @include desktop1680 {
                        padding: 10px 0 10px 40px;
                    }
                }
                & span.catalog-link {
                    color: $color-primary;
                }
            }
        }
        @include big-tablets {
            display: none;
        }
    }
    &__banner {
        position: relative;
        display: flex;
        width: 100%;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__slide {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        &-inner {
            position: absolute;
            width: 50%;
            color: #fff;
            display: flex;
            flex-direction: column;
            padding: 0 85px;
            & .sticker {
                font-size: 14px;
                font-family: $font-primary;
                color: #fff;
                padding: 5px 21px;
                background-color: $color-primary;
                width: max-content;
                text-transform: uppercase;
                margin-bottom: 25px;
                @include tablets {
                    margin-bottom: 15px;
                }
            }
            & .name {
                font-family: $font-primary;
                font-size: 68px;
                line-height: 68px;
                margin-bottom: 15px;
                @include tablets {
                    font-size: 40px;
                    line-height: 40px;
                }
                @include tablets {
                    margin-bottom: 10px;
                }
                @include mid-mobile {
                    font-size: 36px;
                }
                @include small-mobile {
                    font-size: 34px;
                }
                @include old-small-mobile {
                    font-size: 30px;
                }
            }
            & .desc {
                font-family: $font-main;
                font-size: 26px;
                line-height: 36px;
                margin: 0;
                font-weight: 300;
                margin-bottom: 45px;
                @include laptop1200 {
                    margin-bottom: 40px;
                }
                @include tablets {
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 25px;
                }
                @include small-mobile {
                    font-size: 16px;
                    line-height: 22px;
                }
            }
            @include desktop1680 {
                width: 60%;
                padding: 0 35px;
            }
            @include laptop1200 {
                padding: 0 30px;
                width: 70%;
            }
            @include big-tablets {
                padding: 0 40px;
            }
            @include tablets {
                width: 55%;
            }
            @include big-mobile {
                padding: 0 30px;
                width: 80%;
            }
            @include mid-mobile {
                width: 86%;
            }
            @include small-mobile {
                width: 90%;
            }
        }
        & video {
            position: absolute;
            object-fit: cover;
        }
    }
    &__pagination {
        left: 85px;
        bottom: 0;
        display: flex;
        & .swiper-pagination-bullet {
            display: flex;
            text-align: left;
            width: 155px;
            height: auto;
            border-radius: 0;
            padding-bottom: 20px;
            margin-right: 125px;
            font-size: 18px;
            font-weight: 300;
            color: #fff;
            background: none;
            border-bottom: 4px solid transparent;
            opacity: 1;
            &-active {
                border-bottom: 4px solid $color-blue;
                @include big-tablets {
                    background-color: $color-blue !important;
                }
            }
            @include big-tablets {
                border-bottom: none;
                width: 54px;
                height: 3px;
                margin-right: 10px;
                background-color: #BFBFBF;
                padding-bottom: 0;
            }
        }
        &--mobile {
            display: none;
            @include big-tablets {
                display: flex;
            }
        }
        @include laptop1200 {
            left: 30px;
        }
        @include big-tablets {
            left: 50%;
            transform: translateX(-50%);
            bottom: -21px;
        }
    }
    &__socials {
        position: absolute;
        top: 13%;
        right: 16px;
        z-index: 10;
        & ul {
            flex-direction: column;
            & li {
                margin-bottom: 10px;
            }
        }
        @include big-tablets {
            display: none;
        }
    }
    @include big-tablets {
        min-height: 570px;
    }
    @include tablets {
        min-height: 410px;
    }
}

.social-share {
    display: none;
    position: absolute;
    bottom: -60px;
    right: 15px;
    width: 44px;
    height: 44px;
    border: 1px solid #DADADA;
    align-items: center;
    justify-content: center;
    @include big-tablets {
        display: flex;
    }
}