.promo {
  background-color: $color-bg-grey;
  padding: 90px 0;
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    gap: 25px 20px;
    & .item {
      @include big-tablets {
        width: 31%;
      }
      @include tablets {
        width: 30%;
      }
      @include big-mobile {
        width: 47%;
      }
      @include small-mobile {
        width: 46%;
      }
      &-pic {
        height: 305px;
        position: relative;
        overflow: hidden;
        & video {
          width: 100%;
          object-fit: cover;
        }
        & .sale-sticker {
          font-size: 14px;
          background-color: $color-primary;
          padding: 3px 21px;
          color: #fff;
          position: absolute;
          top: 25px;
          left: 0;
          text-transform: uppercase;
          font-weight: 500;
        }
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        @include desktop1680 {
          height: 262px;
        }
        @include laptop1200 {
          height: 217px;
        }
        @include mid-mobile {
          height: 180px;
        }
        @include small-mobile {
          height: 162px;
        }
        @include old-small-mobile {
          height: 133px;
        }

      }
      &-name {
        padding-top: 12px;
        display: block;
        font-size: 18px;
        @include big-mobile {
          font-size: 16px;
        }
        @include small-mobile {
          font-size: 14px;
          padding-top: 9px;
        }
      }
      &-0 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 3;
        @include big-tablets {
          width: 100%;
        }
      }
      &-1 {
        grid-row-start: 1;
        grid-column-start: 3;
        grid-row-end: 2;
        grid-column-end: 4;
      }
      &-2 {
        grid-row-start: 1;
        grid-column-start: 4;
        grid-row-end: 2;
        grid-column-end: 5;
      }
      &-3 {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 2;
      }
      &-4 {
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-end: 3;
        grid-column-end: 3;
      }
      &-5 {
        grid-row-start: 2;
        grid-column-start: 3;
        grid-row-end: 3;
        grid-column-end: 4;
      }
      &-6 {
        grid-row-start: 2;
        grid-column-start: 4;
        grid-row-end: 3;
        grid-column-end: 5;
      }

    }
    @include big-tablets {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  @include big-mobile {
    padding: 50px 0 40px 0;
  }
}
