.main__article {
	background:#fff;
	padding:80px 0;
	&.related {
		padding-top:0;
		& .s-title {
			text-align:left;
		}
	}
	& .s-title {
		text-align:center;
		margin:0 0 20px;
	}
	&-list {
		display:flex;
		flex-direction:row;
		justify-content:center;
		margin-left: -10px;
		margin-right: -10px;
		@include big-mobile {
			flex-direction: column;
			margin-left: 0;
			margin-right: 0;
		}
	}
	&-item {
		width: 100%;
		padding:10px;
		position:relative;
		& a {
			display:block;
			position:absolute;
			width:100%;
			height:100%;
			text-decoration:none;
			z-index:200;
		}
		@include big-mobile {
			padding: 0;
			margin-bottom: 35px;
		}
		&:last-child {
			@include big-mobile {
				margin-bottom: 0;
			}
		}
	}
	&-img {
		margin-bottom:10px;
		& img {
			width:100%;
			height: 100%;
			object-fit: cover;
		}
		@include big-mobile {
			height: 335px;
		}
		@include mid-mobile {
			height: 235px;
			margin-bottom: 15px;
		}
	}
	&-date {
		font-size:16px;
		color:#9e9e9e;
		margin-bottom:10px;
		display: flex;
		align-items: center;
		& svg {
			margin-right: 8px;
		}
		@include mid-mobile {
			font-size: 13px;
		}
	}
	&-name {
		font-size:20px;
		line-height:26px;
		color:$color-main;
		margin:0;
	}
	&-button {
		margin-top:40px;
		text-align:center;
		& .button {
			display:inline-block;
		}
		@include mid-mobile {
			margin-top: 35px;
		}
	}
	&-title {
		@include mid-mobile {
			margin: 0;
			font-size: 18px;
			font-weight: 400;
		}
	}
	@include big-mobile {
		padding: 40px 0;
	}
}