.services {
    @include block-style1;
}

.services__list {
    @include list-destroy;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    height: 160px;
    width: 100%;
    margin-bottom: 15px;
    color: #fff;
    display: flex;
    @include el-items;

    @include tablets {
        margin-bottom: 1%;
        width: 49%;
        height: 170px;
    }

    @include laptop {
        margin-bottom: 1%;
        height: 190px;
    }

    @include desktop {
        margin-bottom: 2%;
        height: 255px;
        width: 48.5%;
    }
}

.services__title {
    position: relative;
    z-index: 3;
    margin-top: auto;
    padding: 15px;
    pointer-events: none;

    @include tablets {
        padding: 20px;
    }

    @include laptop {
        padding: 35px;
    }

    @include desktop {
        padding: 35px;
    }
}

.services__link {
    background: linear-gradient(90deg, #131F2E 0%, rgba(2, 2, 2, 0) 60.49%);
    background-blend-mode: multiply, normal;
    opacity: 1 !important;
}

.price .h5 {
    border: 1px solid $color-grey;
    background-color: $color-grey;
    padding: 10px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color: #ffffff;

    @include laptop {
        padding: 24px 30px;
        font-size: 24px;
    }

    margin: 0;
}