.warranty {
  background-image: url("../img/warranty-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  & .s-title {
    @include mid-mobile {
      margin-bottom: 20px;
    }
  }
  & .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    min-height: 650px;
    @include desktop1440 {
      min-height: 440px;
    }
    @include tablets {
      min-height: 300px;
    }
    @include small-mobile {
      min-height: 217px;
    }
  }
}