.why {
    @include block-style1
}

.three-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.three-column {
    width: 100%;

    & h3 {
        padding: 0 0 15px;

        @include laptop {
            padding: 0 0 20px;
        }

    }

    & .h3 {
        padding: 0 0 15px;

        @include laptop {
            padding: 0 0 20px;
        }

    }

    &:not(:last-child) {
        padding-bottom: 15px;
    }

    @include laptop {
        &:not(:last-child) {
            padding-bottom: 0px;
        }

        width: 25%;
        box-sizing: border-box;

        &:first-child {
            width: 33%;
            padding: 0;
        }

        &:last-child {
            width: 33%;
            padding: 0;
        }
    }

    @include desktop {
        width: 27%;

        &:first-child {
            width: 32%;
            padding: 0;
        }

        &:last-child {
            width: 32%;
            padding: 0;
        }
    }
}

.why img {
    display: none;

    @include laptop {
        display: block;
    }
}