.vacancies {
	& .s-title { text-align:left; }
	&__content {
		display:flex;
		flex-direction:row;
		padding-bottom:60px;
		gap:40px;
		
		@include tablets {
			flex-direction:column;
			padding-bottom:40px;
		}
		@include small-mobile {
			flex-direction:column;
			padding-bottom:20px;
		}

		& .text {
		}
		
		& .img {
			@include tablets {
				display:none;
			}
			@include small-mobile {
				display:none;
			}
		}
	}
	&-list {
		&__list {
			flex-direction:column;
			&-item {
				display:flex;
				flex-direction:row;
				justify-content:space-between;
				border-top:1px solid #d4d4d4;
				padding:35px 0 40px 60px;
				background:url(../img/hh.svg) left center no-repeat;

				@include small-mobile {
					flex-direction:column;
				}

				& .position {
					width:50%;
					font-size:26px;
					
					@include tablets {
						width:70%;
						font-size:20px;
					}
					@include small-mobile {
						width:100%;
						font-size:18px;
					}
					
					& a {
						font-weight:600;
						&:hover {
							color:#ec0000;
						}
					}
				}
				& .salary {
					width:30%;
					font-size:26px;
					
					@include tablets {
						font-size:20px;
						text-align:right;
					}
					@include small-mobile {
						width:100%;
						font-size:20px;
					}

				}
				& .date {
					font-size:18px;
					color:#aeaeae;
			
					@include tablets {
						display:none;
					}
					@include small-mobile {
						display:none;
					}
				}
			}
		}
	}
	&-form {
		padding:60px 0;
		display:grid;
		grid-template-columns:1fr 1fr;
		gap:0 60px;
		&__form {
			& .file-upload {
			}
		}
	}
}