.article-page {
	& .p-title {
		line-height:70px;
	}
}
.article-page__container {
	display:flex;
	flex-direction:row;
	margin-bottom:40px;
}
.article-page__text {
	font-size:18px;
	line-height:30px;
	& p {
		margin-top:0;
	}
}
.article-page__img {
	display:flex;
	flex-direction:column;
	margin-left:60px;
	&-img {
		margin-bottom:40px;
	}
}

.article-page__text-history {
	display:flex;
	flex-direction:column;
	& .line {
		display:flex;
		flex-direction:row;
		margin-bottom:60px;
		& .img-right {
			margin-left:60px;
		}
		& .img-left {
			margin-right:60px;
		}
	}
}