.news {
    position: relative;
    // overflow: hidden;
}

.blog {
    overflow: hidden;
}

.news__list {
    @include list-destroy;
    margin-bottom: 40px;
}

.news__item {
    // @include el-items-with-text;
    border-bottom: 1px solid $color-light-grey;
    padding-bottom: 30px;
    // &:not(:first-child) {
    margin-top: 30px;
    // }
    @include tablets {
        padding-bottom: 40px;
        margin-top: 40px;
    }
    @media(min-width: 880px) {
        display: flex;
        align-items: stretch;
    }
    @include laptop {
        padding-bottom: 50px;
        margin-top: 45px;
    }
}

.news__img-wrap {
    height: 49vw;
    min-height: 171px;
    width: 100%;
    @media(min-width: 880px) {
        height: 270px;
        width: 500px;
        flex-shrink: 0;
        margin-right: 40px;
    }
}

.news__img-wrap--slider {
    margin-bottom: 35px;
    @include laptop {
        margin-bottom: 0;
    }
}

.news__slider {
    width: 100%;
    max-width: 100%;
    @media(min-width: 880px) {
        width: 500px;
        max-width: 100%;
    }
}

.news__img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    margin-top: 15px;
    @include tablets {
        font-size: 28px;
        line-height: 36px;
        margin-top: 30px
    }
    @media(min-width: 880px) {
        margin-top: 0;
    }
    @include laptop {
        font-size: 32px;
        line-height: 36px;
    }
}

.news__date {
    @include text-date;
    margin-top: 10px;
    color: $color-light-grey;
}

.news__text-wrap {
    @media(min-width: 880px) {
        display: flex;
        flex-direction: column;
    }
}

.news__text {
    margin-top: 10px;
}

.news__item .link-more--small {
    margin-top: 25px;
    @include laptop {
        margin-top: auto;
    }
    z-index: 2;
}

.video-link {
    display: block;
    position: relative;
    @include video-link;
}