.article-page {
	& .s-title {
		text-align:left;
	}
}
.article-page__container {
	display:flex;
	flex-direction:row;
}
.article-page__filter {

		@include big-tablets {
			width:100%;
		}
		@include tablets {
			width:100%;
		}
		@include small-mobile {
			width:100%;
		}

	& ul {
		flex-direction:column;
		width:335px;
		
		@include big-tablets {
			display:none;
		}
		@include tablets {
			display:none;
		}
		@include small-mobile {
			display:none;
		}
		& li {
			margin:12px 40px 12px 0;
		}
	}
	& .filter-item {
		display:none;

		@include big-tablets {
			display: flex;
			flex-direction: column;
		}
		@include tablets {
			display: flex;
			flex-direction: column;
		}
		@include old-small-mobile {
			display: flex;
			flex-direction: column;
		}

        & span {
			display: block;
			margin-bottom: 5px;
        }
        & .filter-container {
				margin-bottom:20px;
				border: 1px solid #D8D8D8;
				position: relative;
			&:after {
				position: absolute;
				content: url("../../../img/down-arrow.svg");
				top: 50%;
				right: 22px;
				transform: translateY(-50%);
			}
			& select {
				padding: 20px;
				border: none;
				outline: none;
				background:#eaeaea;
				width: 100%;
				font-family: $font-main;
				font-size: 18px;
			}
		}
	}
	& a {
		font-size:18px;
		line-height:24px;
		color:#848484;
		display:inline-block;
		position:relative;
		&:hover {
			color:$color-primary;
		}
		&.active {
			color:$color-primary;
			&:after {
				position:absolute;
				top: 2px;
				right: -24px;
				content:url(../img/list-arrow.png);
			}
		}
	}
}
.article-page__list {
}
.article-page__item {
	display:flex;
	flex-direction:row;
	position:relative;
	margin-bottom:40px;

	@include small-mobile {
		flex-direction:column;
	}
		
	& a {
		display:block;
		position:absolute;
		width:100%;
		height:100%;
		text-decoration:none;
		z-index:200;

	}
	&-img {
		position:relative;

		& img {
			width:427px;
			display:block;
			
			@include tablets {
				width:205px;
			}
			@include small-mobile {
				width:315px;
			}
		}

		& .video-icon {
			position:relative;
			&:after {
				content:'';
				position:absolute;
				left:0;
				top:0;
				width:100%;
				height:100%;
				background:url(../img/video.png) center center no-repeat;
				background-color:rgba(0,0,0,.2);
			}
		}
	}
	&-text {
		margin-left:40px;
		
		@include small-mobile {
			margin-left:0;
		}
	}
	&-date {}
	&-title {
		font-size:26px;
		line-height:30px;
		margin:10px 0 20px;

		@include tablets {
			font-size:20px;
			line-height:26px;
		}
		@include small-mobile {
			font-size:18px;
			line-height:22px;
		}
	}
	&-abstract {
		font-size:18px;
		line-height:30px;
		margin-bottom:20px;
		@include tablets {
			font-size:16px;
			line-height:24px;
		}
		@include small-mobile {
			font-size:16px;
			line-height:24px;
		}
	}
	&-viewed {
		position:relative;
		padding-left:30px;
		font-size:14px;
		line-height:16px;
		color:#848484;
		&:before {
			position:absolute;
			top:1px;
			left:0;
			content:url(../img/eye.svg);
		}
	}
}